@model ViewModels.MusicsResponseVM

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<script type="text/javascript" >


    function search() {
        var name = document.getElementById('search').value;
        if (elmt == 'Search...' || elmt == '') {
            alert('Please enter a search ');
        }
        else {
            window.location.href = '/Purchase/BuyConfirmation?name='+name;
           
        }
    }

    function goToDetails(id) {
        window.location.href = '/AdminMusic/Details/' + id;
    }

</script>
    <div class="box">
        <div class="container-1">
            <span class="icon" onclick="search();"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Search..." />
        </div>
    </div>



<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <h2 style="border-bottom:1px solid #eeeeee;">Most Popular</h2>
    <div class="col-md-4">
        <div class="populars">
            <img class="trending" src="~/Content/Ressources/Images/Albums/1.png" />
            <p>@Model.Music1.Name</p>
            <p><a class="btn btn-default" onclick="goToDetails(@Model.Music1.ID);">Details </a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="populars">
            <img class="trending" src="~/Content/Ressources/Images/Albums/2.png" />
            <p>@Model.Music2.Name</p>
            <p><a class="btn btn-default" onclick="goToDetails(@Model.Music2.ID);">Details </a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="populars">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
