@model ViewModels.CommentsResponseVM
@{
    ViewBag.Title = "AddComment";
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    function DeleteComment(Musicid) {

        window.location.href = "/Comment/Delete/" + Musicid ;

    }
</script>

<h2>Details</h2>

<div class="details">
    <h4 style="text-align:center;">Music</h4>
    <hr />
    <dl class="dl-horizontal dl-details">
        <dt>
            @Html.DisplayNameFor(model => model.Music.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Music.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Duration)
        </dd>
    </dl>
    <audio controls style="margin-left: 25%;">
        <source src="@Url.Action("Play", new { musicId = Model.Music.Number })" type="audio/mp3" />
        <p>Your browser does not support HTML 5 audio element</p>
    </audio>
</div>
<div style="margin: auto;width: 50%">
    @foreach (var item in Model.Comments)
    {
        <div>
            <textarea readonly id="comment">@item.Comments</textarea> 
            @if (Request.Cookies["UserId"]["roleId"].Equals("1") )
            {
                <p><a class="btn btn-default btn-comment" onclick="DeleteComment(@item.ID)">Delete !</a></p>
            }
            
    </div>
    }
    <form id="loginForm" name="form1" method="post" action="/Comment/AddComment">
        <textarea id="comments" name="comments" placeholder="Comment ..."></textarea>
        <input id="MusicID" name="MusicID" type="hidden" value="@Model.Music.ID"/>
        <p><a class="btn btn-default btn-comment" onclick="$('#loginForm').submit()">Comment !</a></p>
   </form>
</div>

<p style="text-align:center;color:#333333">
    @Html.ActionLink("Back to List", "Index","Music")
</p>

