@model ViewModels.MusicsResponseVM

@{
    ViewBag.Title = "Musics";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

<h2>Musics</h2>


<div>
    <br />
    @using (Ajax.BeginForm("Search", "Music",
                                new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divMusics" }))
    {
        <table class="tableMusics">
            <tr>
                Search :
                <td>@Html.LabelFor(M => M.Music1.Name)</td>
                <td>@Html.TextBoxFor(M => M.Music1.Name)</td>
                <td>@Html.LabelFor(M => M.Music1.Artist)</td>
                <td>@Html.TextBoxFor(M => M.Music1.Artist)</td>
                <td>@Html.LabelFor(M => M.Music1.ReleaseDate)</td>
                <td>@Html.TextBoxFor(M => M.Music1.ReleaseDate)</td>
                <td>@Html.LabelFor(M => M.Music1.Genre)</td>
                <td>@Html.TextBoxFor(M => M.Music1.Genre)</td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>

    }

    
</div>
<div id="divMusics">
    @{Html.RenderPartial("_Musics", Model);}
</div>




