@model ViewModels.MusicsResponseVM

@{
    ViewBag.Title = "Musiques";
}

<h2>Musiques</h2>

<table class="table">
    <tr>
        <th>Music</th>
        <th>Name</th>
        <th>Artist</th>
        <th>ReleaseDate</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Duration</th>
        <th>Album</th>
    </tr>

    @foreach (var item in Model.Musics)
    {
        <tr>
            <td>
                <img src="@Url.Content("~/Content/Ressources/Images/Albums/"+item.Thumbnail+".png")" height="50" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                <audio controls>
                    <source src="@Url.Action("Play", new { musicId = item.Number })" type="audio/mp3" />
                    <p>Your browser does not support HTML 5 audio element</p>
                </audio>
            </td>
        </tr>
    }

</table>


