@model ViewModels.MusicsResponseVM

@{
    ViewBag.Title = "Musiques";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

<h2>Musiques</h2>

<div>
    <br />

    @using (Ajax.BeginForm("Search", "Music",
            new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divMusics"}))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(M => M.Music1.Name)</td>
                <td>@Html.TextBoxFor(M => M.Music1.Name)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(M => M.Music1.Artist)</td>
                <td>@Html.TextBoxFor(M => M.Music1.Artist)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(M => M.Music1.ReleaseDate)</td>
                <td>@Html.TextBoxFor(M => M.Music1.ReleaseDate)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(M => M.Music1.Genre)</td>
                <td>@Html.TextBoxFor(M => M.Music1.Genre)</td>
            </tr>
        </table>
        <input type="submit" value="Search" />
    }
</div>

<div id="divMusics">
    @{Html.RenderPartial("_Musics", Model.Musics);}
</div>



