@using Microsoft.AspNet.Identity

<script type="text/javascript">
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
</script>
@if (Request.Cookies["UserId"] != null)
{

        @Html.AntiForgeryToken()
        
        
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Bonjour @Request.Cookies["UserId"]["name"] !</button>
                        <div id="myDropdown" class="dropdown-content">
                            @Html.ActionLink("My Account", "Edit", "User", new { id  = Request.Cookies["UserId"]["id"] }, null)
                            @Html.ActionLink("My Musics", "Index", "Order", new { area = "" }, null)
                            
                        </div>
                    </div>
                </li>
                <li>@Html.ActionLink("Deconnection", "LogOff", "User", new { area = "" }, null)</li>
            </ul>
        
    




}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
